<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>This is title</title>
    <link rel = "stylesheet" href ="\style.css">    
</head>  

<body>
    <div class="h2">
        <h2>Currency Strength Meter</h1>
    </div>
    <div>
        This is currency strength meter for currency symbols
    </div>
    
</body>

</html>
