<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>This is title</title>
    <link rel = "stylesheet" href ="\style.css">    
</head>  

<body>
    <div class="h2">
        <h2>Currency Strength Meter</h1>
    </div>

    <div class ="paragraphs">
        <p>This is currency strength meter for currency symbols</p>
        <p>The best currency strength meter online</p>
        <p>Refreshed every hour to give you current status of the currency strength</p>
    </div>

    <div class ="div">
        <button class ="button-refresh">Refresh</button>
    </div>

<script src="\index.js" charset ="UTF-8"></script>
</body>

</html>
